<div class="pt-5">
  <div class="container mt-5 pt-5">
    <div class="row">
      <div class="col-md-12 my-5 text-lg-left text-center align-self-center">
        <div class="input-group mb-3">
          <input class="form-control" placeholder="Search for anything" aria-describedby="basic-addon" aria-label="Search term" type="text">
          <div class="input-group-append">
            <button class="btn btn-default btn-secondary" type="button" id="searchBtn">Search!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
